
.light {
  overflow-x: hidden;
  color: #3c484e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.light h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--color-secondary);
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

.light .post-card-excerpt {
  color: var(--color-base);
}

.light .content-body p {
  color: var(--color-main-grey);
}

.light .content-body li {
  color: var(--color-main-grey);
}

.dark {
  overflow-x: hidden;
  color: #3c484e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.dark h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--color-primary);
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.dark .post-card-excerpt {
  color: var(--color-border);
}

.dark .content-body p {
  color: var(--color-light-grey);
}

.dark .content-body li {
  color: var(--color-light-grey);
}